<section id="blog" class="block-section">
  <div class=" shape-bottom">
    <div class="bg-secondary block-title">
      <div class="container">
        <div class="row">
            <div class="col-md-3" style="margin-right: 50px;">
                
              <div>
                <p>High Noon</p>
                <audio controls id="test">
                  <source src="../../assets/theme/audios/01 High Noon.wav" type="audio/wav" >
                Your browser does not support the audio element.
                </audio>
              </div>
              <div>
                <p>Was ich habe</p>
                <audio controls>
                    <source src="../../assets/theme/audios/02 Was ich habe.wav" type="audio/wav">
                  Your browser does not support the audio element.
                </audio>
              </div>
              <div>
                <p>Open a Window</p>
                <audio controls>
                    <source src="../../assets/theme/audios/03 Open a Window.wav" type="audio/ogg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            </div>

            <div class="col-md-3" style="margin-right: 50px;">
              <div>
                <p>Wave Song</p>
                <audio controls>
                    <source src="../../assets/theme/audios/04 Wave Song.wav" type="audio/wav">
                  Your browser does not support the audio element.
                </audio>
                </div>

                <div>
                  <p>Märchen</p>
                <audio controls>
                    <source src="../../assets/theme/audios/05 Märchen.wav" type="audio/wav">
                  Your browser does not support the audio element.
                </audio>
                </div>

                
                <div>
                  <p>Tell Your Deepest Dark Goodbye</p>
                <audio controls>
                    <source src="../../assets/theme/audios/06 Tell Your Deepest Dark Goodbye.wav" type="audio/wav">
                  Your browser does not support the audio element.
                </audio>
                </div>
            </div>
        <div class="col-md-3" style="margin-right: 50px;">
                <div>
                  <p>Schlaflied</p>
                <audio controls>
                    <source src="../../assets/theme/audios/07 Schlaflied.wav" type="audio/wav">
                  Your browser does not support the audio element.
                </audio>
                </div>

                <div>
                  <p>Reality</p>
                <audio controls>
                    <source src="../../assets/theme/audios/08 Reality.wav" type="audio/wav">
                  Your browser does not support the audio element.
                </audio>
                </div>

                <div>
                  <p>Shame</p>
                <audio controls>
                    <source src="../../assets/theme/audios/09 Shame.wav" type="audio/wav">
                  Your browser does not support the audio element.
                </audio>
                </div>
      </div>
            </div>
          
        </div>
      </div>
    </div>
</section>
            