<div class="row">
    <div class="col-md-4">
      <img src="https://backgrounds.wetransfer.net/cp_eslami/eslami1_t1_v1/assets/images/img2.png" height="300px">
    </div>
    <div class="col-md-4">
        <img src="https://backgrounds.wetransfer.net/cp_eslami/eslami1_t1_v1/assets/images/img2.png" height="300px">
      </div>
      <div class="col-md-4">
        <img src="https://backgrounds.wetransfer.net/cp_eslami/eslami1_t1_v1/assets/images/img2.png" height="300px">
      </div>
</div>
            